extends layout

block content
  contact-form

  script(src='/tags/input-field.tag', type='riot/tag')
  script(src='/tags/textarea-field.tag', type='riot/tag')
  script(src='/tags/contact-form.tag', type='riot/tag')
