extends layout

block content
  .container
    h1=name
    p=description

    image-reel
      each imgSrc in images
        img(src='/images/thumbs/'+ imgSrc, data-thumb data-fullSize='/images/screenshots/'+ imgSrc)

  script(src='/tags/image-reel.tag', type='riot/tag')
  script(src='/javascripts/okie-helpers.js')
  script(src='/javascripts/okie-pub.js')
  script(src='/javascripts/okie-modal.js')
  script(src='/javascripts/okie-drag.js')
  script(src='/javascripts/okie-show.js')
