body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 2em;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

main {
  /* padding: 6em 0; */
}

h1 {
  font-size: 2em;
  margin-top: 1em;
}

/*
 * Overrides
 */
.container {
  width: 90%;
}

.fa-pulse {
  transform-origin: 49.5% 48%;
}

/*
 * Utility Classes
 */
.text-center {
  text-align: center;
}

.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none !important;
}

.transition-all {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.transition-opacity {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.transition-position {
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition: bottom 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out;
  -o-transition: bottom 0.3s ease-in-out;
  -ms-transition: bottom 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.transition-size {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-width 0.3s ease-in-out;
  -moz-transition: max-width 0.3s ease-in-out;
  -o-transition: max-width 0.3s ease-in-out;
  -ms-transition: max-width 0.3s ease-in-out;
  transition: max-width 0.3s ease-in-out;
}

img {
  position: relative;
}

img:before {
  content: '\f1c5' ' ' attr(alt);
  display: inline-block;
  font-family: 'FontAwesome';
  box-sizing: border-box;
  background: #ccc;
  font-weight: bold;
  line-height: 1.6em;
  height: 100%;
  width: 100%;
  padding-top: 30%;
  position: absolute;
    top: 0;
    left: 0;
  vertical-align: baseline;
}

/*
 * Forms
 */
input,
textarea {
  margin-bottom: 1.3em;
  width: 100%;
}

input.error,
textarea.error {
  border: 1px solid #b52025;
}

label.error {
  color: #b52025;
  margin-top: -1.3em;
}


label.error {
}

/*
 * Special Effects
 */
.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-layer {
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-layer-1 {
  transform: translateZ(0);
}

.parallax-layer-2 {
  transform: translateZ(-1px);
}

/*
 * Media Queries
 */
@media screen and (min-width:768) {
  label {
    display: block;
  }
}
